@model List<BamBaiOnlineShop.Models.GoiYSP>
@using BamBaiOnlineShop.Models
@{
    var session = (Userlogin)Session[BamBaiOnlineShop.Models.CommonConstants.USER_SESSION];
}
@foreach (var item in Model)
{
    <!-- PRODUCT -->
    <li class="list-item">
        <!-- ACTIONS -->
        <div class="actions">
            <figure class="liquid">
                <img src="~/Content/images/items/@item.hinh" alt="product1">
            </figure>
            <div>
                <a href="#qv-p2" class="button quick-view" onclick="quickview(@item.prid)" data-effect="mfp-3d-unfold">
                    <!-- SVG QUICKVIEW -->
                    <svg class="svg-quickview">
                        <use xlink:href="#svg-quickview"></use>
                    </svg>
                    <!-- /SVG QUICKVIEW -->
                </a>
                <!-- QUICK VIEW POPUP -->
                <div id="qv-p2" class="product-quick-view mfp-with-anim mfp-hide">
                </div>
                <!-- /QUICK VIEW POPUP -->
                <a href="@Url.Action("DetailProduct",new { id=item.prid})" class="button full-view">
                    <!-- SVG FULLVIEW -->
                    <svg class="svg-fullview">
                        <use xlink:href="#svg-fullview"></use>
                    </svg>
                    <!-- /SVG FULLVIEW -->
                </a>
            </div>
        </div>
        <!-- /ACTIONS -->
        <!-- DESCRIPTION -->
        <div class="description">
            <div class="clearfix">
                <a href="#"><p class="highlighted category">@item.category</p></a>
                <!-- RATING -->
                <ul class="rating">
                    <li class="filled">
                        <!-- SVG STAR -->
                        <svg class="svg-star">
                            <use xlink:href="#svg-star"></use>
                        </svg>
                        <!-- /SVG STAR -->
                    </li>
                    <li class="filled">
                        <!-- SVG STAR -->
                        <svg class="svg-star">
                            <use xlink:href="#svg-star"></use>
                        </svg>
                        <!-- /SVG STAR -->
                    </li>
                    <li class="filled">
                        <!-- SVG STAR -->
                        <svg class="svg-star">
                            <use xlink:href="#svg-star"></use>
                        </svg>
                        <!-- /SVG STAR -->
                    </li>
                    <li class="filled">
                        <!-- SVG STAR -->
                        <svg class="svg-star">
                            <use xlink:href="#svg-star"></use>
                        </svg>
                        <!-- /SVG STAR -->
                    </li>
                    <li>
                        <!-- SVG STAR -->
                        <svg class="svg-star">
                            <use xlink:href="#svg-star"></use>
                        </svg>
                        <!-- /SVG STAR -->
                    </li>
                </ul>
                <!-- /RATING -->
            </div>
            <div class="clearfix">
                <a href="#"><h6>@item.ten</h6></a>
            </div>
            <div class="clearfix">
                <p>@item.masp</p>
                <p class="highlighted current">@((float)item.gia)</p>
            </div>

            <!-- CART OPTIONS -->
            <div class="cart-options">
                @if (session != null)
                {
                    using (Ajax.BeginForm("addWishList", "Home", new { id = item.prid }, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "alertsuccess", OnFailure = "alearterror", OnBegin = "onLoading" }, null))
                    {

                        <a class="button medium wishlist">
                            <button type="submit" style="cursor:pointer">
                                <svg class="svg-wishlist">
                                    <use xlink:href="#svg-wishlist"></use>
                                </svg>
                            </button>
                        </a>

                    }
                    if (item.status == true)
                    {
                        using (Ajax.BeginForm("addCart", "Home", new { soluong = 1, id = item.prid}, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "alertsuccess", OnFailure = "alearterror",OnBegin="onLoading" }, null))
                        {

                            <button type="submit" style="margin-left:5px;float:left">
                                <a class="button cart-add">
                                    <!-- SVG PLUS -->
                                    <svg class="svg-plus">
                                        <use xlink:href="#svg-plus"></use>
                                    </svg>
                                    <!-- /SVG PLUS -->
                                   Thêm vào giỏ
                                </a>
                            </button>

                        }

                    }
                    else
                    {
                        <a href="#" class="button no-stock">
                            <!-- SVG PLUS -->
                            <svg class="svg-plus">
                                <use xlink:href="#svg-plus"></use>
                            </svg>
                            <!-- /SVG PLUS -->
                           Hết hàng
                        </a>
                    }
                }
                else
                {
                    <a href="@Url.Action("Index","LoginUser")" class="button medium wishlist">
                        <!-- SVG WISHLIST -->
                        <svg class="svg-wishlist">
                            <use xlink:href="#svg-wishlist"></use>
                        </svg>
                        <!-- /SVG WISHLIST -->
                    </a>
                    <a href="@Url.Action("Index","LoginUser")" class="button cart-add">
                        Đăng nhập
                    </a>
                }

            </div>
            <!-- /CART OPTIONS -->
        </div>
        <!-- /DESCRIPTION -->
    </li>
    <!-- /PRODUCT -->
}
<script>
    var url = "https://bambai.online";
/*    var url = "https://localhost:44393";*/
    function quickview(productid) {

        $.ajax({

            url: url+'/Home/quickview/' + productid,

            type: 'POST',

            cache: false,

            success: function (result) {

                $('#qv-p2').html(result);
            }

        });

        return false;

    };
</script>