@model List<BamBaiOnlineShop.Models.Order>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    caption {
        font-size: 2em;
        margin: .25em 0 .75em;
    }

    table tr {
        background: #f8f8f8;
        border: 1px solid #ccc;
        padding: .35em;
    }

    table th,
    table td {
        padding: .625em;
        text-align: center;
    }

    table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    /* Media Queries*/

    @@media screen and (max-width: 600px) {
        table {
            border: 0;
        }

            table caption {
                font-size: 1.3em;
            }

@*            table thead {
                display: none;
            }*@

            table tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
            }

            table td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: center;
            }

                table td:before {
                    content: attr(data-label);
                    float: left;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                table td:last-child {
                    border-bottom: 0;
                }
    }

    /* Media Queries*/
</style>
@if (ViewBag.message == null)
{
    if (Model.Count > 0)
    {
        <table>
            <caption>Lịch sử đặt hàng</caption>
            <thead>
                <tr>
                    <th>Ngày đặt</th>


                    <th>Ngày giao dự kiến</th>


                    <th>Trạng thái đơn hàng</th>

                    <th>Chức năng</th>
                </tr>


            </thead>


            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.OrderDate</td>
                        <td>@item.ShipDate</td>
                        @if (item.status == true)
                        {


                    <td>Đang giao</td>
                        }
                        else
                        {
                    <td>Chờ xác nhận</td>
                        }
                        <td>
                            <a href="@Url.Action( "DetailsOrder","Home" ,new { id = item.OrderID })"><img src="~/Content/images/view-details.png" /></a>
                        </td>
                    </tr>
                }

            </tbody>


        </table> 
        }
    else
    {
        <h2 style="text-align:center;margin:8px 14px 4px 8px">
            <a href="@Url.Action("Shop","Home")" style="color:darkslategrey">
               Lịch sử đặt hàng trống
            </a>
        </h2>

    }

    }
    else
    {
    <h2 style="text-align:center;margin:8px 14px 4px 8px">

        <a href="@Url.Action("Index","LoginUser")" style="color:darkslategrey">
            @ViewBag.message
        </a>

    </h2>
    }
